{% extends 'WeatherApp/base.html' %}

{% csrf_token %}

{% block content %}
    <h3>Profile Page</h3>
    {% for location_with_weather in locations_with_weather %}
        <div class="w-25 p-3 text-primary-emphasis bg-warning-subtle border border-primary-subtle rounded-3" >
                <h3>{{location_with_weather.location.name}}</h3>
                <img src="https://flagsapi.com/{{location_with_weather.location.country}}/flat/32.png" alt="{{location_with_weather.location.country}}">
                <ul>

                    <li>Weather: {{location_with_weather.weather.short_type}}</li>
                    <li>Temp: {{location_with_weather.weather.temperature}}</li>
                    <li>Description: {{location_with_weather.weather.description}}</li>
                </ul>
                <form action="{% url 'index' %}location/delete/" method="post">{% csrf_token %}
                        <input type="hidden" name="latitude" value="{{location_with_weather.location.latitude}}">
                        <input type="hidden" name="longitude" value="{{location_with_weather.location.longitude}}">
                        <input type="submit" value="Delete from profile">
                </form>
        </div>
    {% endfor %}
{% endblock %}