{% extends 'WeatherApp/base.html' %}


{% block content %}
    <h3>Weather Lookup Page</h3>

    <div class="w-25 p-3 text-primary-emphasis bg-warning-subtle border border-primary-subtle rounded-3" >
            <h3>{{location.name}}</h3>
            <img src="https://flagsapi.com/{{location.country}}/flat/32.png" alt="{{location.country}}">
            <ul>
                <li>Weather: {{weather.short_type}}</li>
                <li>Temp: {{weather.temperature}}</li>
                <li>Description: {{weather.description}}</li>
            </ul>
            <hr>
            <i>Weather info updated at: {{weather.obtained_at.year}}.{{weather.obtained_at.month}}.{{weather.obtained_at.day}} {{weather.obtained_at.hour}}:{{weather.obtained_at.minute}} {{weather.obtained_at.tzinfo}}</i>

    </div>
{% endblock %}