asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
Django==4.2.5
django-debug-toolbar==4.2.0
idna==3.4
psycopg==3.1.11
psycopg2==2.9.7
python-decouple==3.8
python-dotenv==1.0.0
requests==2.31.0
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
